{% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered has-background-bikeshed-light">
                <p class="is-size-6 has-text-grey-light">
                &copy; {{ 'now'|date('Y') }} Maintainerati
                </p>
                <p class="is-size-6 has-text-grey-light">Unconference for open source software maintainers</p>
            </div>
        </div>
    </footer>
{% endblock %}
