{% block markdown %}
    <p class="level-item">
    <span class="subtitle is-7 is-italic">Markdown supported</span>&nbsp;&nbsp;
    <img class="image is-32x32 is-vertical-center" src="{{ asset('images/markdown.svg', 'bikeshed') }}" />&nbsp;
    </p>
{% endblock %}
